body {
  background-color: white;
  color: black;
  background-image: url('');
  background-size: 800px;
  background-position:
    bottom -100px
    left -200px;
  background-attachment: fixed;
  object-position: 100px 100px;

}