.top {
  background-color: #D3D3D3;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  display: flex;

}

.title {
  text-align: center;
  font-size: 50px;
}

.paper {
  background-color: #D3D3D3 !important;
  text-align: center;
}

.pic {
  max-width: 100%;
}

@media only screen and (max-width: 1200px) {
  .pic {
    max-width: 100%;
  }

  .top {
    padding: 0;
    max-width: 100% !important;
  }

}

@media only screen and (max-width: 600px) {
  .pic {
    max-width: 100%;
  }

  .bottom {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
}