.nav {
  color: white;
  background-color: #2a2e30 !important;
}

.pictureNav {
  max-width: 100px;
}

.dropDown {
  background-color: #2a2e30 !important;
}


@media only screen and (max-width: 600px) {
  .pictureNav{
    margin-right: 60px;
  }
}